.textField{
    margin: 1em !important;
    background-color: white !important;
}

.container{
    margin: 1em ;
    background-color: white !important;
}

.bar{
    background-color: #017A9B;
    text-align: center;
    margin-top: 0em;
}
